@page "/"
@using PrintDocument.Core.Entities;
@using TinyMCE.Blazor

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <div class="d-flex gap-4 my-5">
        <MudPaper Width="30%" Height="87vh" Elevation="3">
            <MudGrid Style="align-items:baseline" Class="m-1">
                <MudItem xs=6 sm=6 Class="d-flex flex-row">
                    <MudFab StartIcon="@Icons.Material.Outlined.Add" Color="Color.Success" Size="Size.Medium" OnClick="OpenAddRootDialog" />
                </MudItem>
                <MudItem xs=5 sm=5 Class="d-flex flex-row-reverse">
                    <MudText Typo="Typo.h5">موضوعات</MudText>
                </MudItem>
            </MudGrid>
            <MudTreeView Items="categories" Class="m-2">
                <ItemTemplate>
                    <MudTreeViewItem T="CategoryReport" @bind-Expanded="@context.IsCategoryChildExpanded" Items="@context.CategoryChildren" Value="@context"
                                     Text="@context.Name">
                        <Content>
                            <MudTooltip Text="شاخه جدید">
                                <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="(()=> OpenAddBranchDialog(context.Id))"></MudIconButton>
                            </MudTooltip>
                            <MudTooltip Text="ویرایش شاخه">
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="(()=> OpenEditBranchDialog(context))"></MudIconButton>
                            </MudTooltip>
                            <MudTooltip Text="حذف شاخه">
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="(()=> OpenDeleteBranchDialog(context))"></MudIconButton>
                            </MudTooltip>
                            <MudTreeViewItemToggleButton @bind-Expanded="@context.IsCategoryChildExpanded" Visible="@context.HasChild" />
                            <MudText>@context.Name</MudText>
                            @if (context.HasDocument)
                            {
                                <MudToggleIconButton @bind-Toggled="@context.IsDocumentChildExpanded"
                                                     Icon="@Icons.Material.Filled.ArrowDropUp"
                                                     ToggledIcon="@Icons.Material.Filled.ArrowLeft" />
                            }
                            @if (context.IsDocumentChildExpanded)
                            {
                                <MudList Clickable="true ">
                                    @foreach (var item in @context.Documents)
                                    {
                                        <MudListItem Text="@item.Title" Icon="@Icons.Material.Filled.Note" />
                                    }
                                </MudList>
                            }
                        </Content>
                    </MudTreeViewItem>
                </ItemTemplate>
            </MudTreeView>
        </MudPaper>
        <MudPaper Width="70%" Height="87vh" Elevation="3" Class="overflow-hidden">
            <Editor @bind-Value="plainText" Conf="editorConf" />
        </MudPaper>
    </div>
</MudContainer>

